
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>INDEX</title>

  <link rel="stylesheet" href="../static/css/index.css">
  <script src="../static/js/index.js"></script>
  <script src="../static/js/jquery-1.11.3.js"></script>
</head>


<body id="main">
  <!--头部-->
  <header class="com-header">
    <div class="header-bar">
      <div class="header-content clearfix">
        <div class="header-bar-position" style="display: block;">
          <span class="header-icon icon-header_location">
          </span>
          <span class="current-city">老人与海</span>
          <div class="user-entry">
            <a class="login" href="/login/">立即登录</a>
            <a class='register' href="/register/">立即注册</a>
          </div>
        </div>
        <nav class="header-bar-nav">
          <ul class="header-nav-first">
            <li class="has-child1">
              <a href="#">我的社区</a>
              <ul>
                <li><a href="#">衣</a></li>
                <li><a href="#">食</a></li>
                <li><a href="#">住</a></li>
                <li><a href="#">行</a></li>
              </ul>
            </li>
            <li class="has-child2">
              <a href="#">手机app</a>
            </li>
            <li class="has-child3">
              <a href="#">我的娱乐</a>
              <ul>
                <li><a href="#">吃</a></li>
                <li><a href="#">喝</a></li>
                <li><a href="#">玩</a></li>
                <li><a href="#">乐</a></li>
              </ul>
            </li>
            <li class="has-child4">
              <a href="#">网站导航</a>
              <ul>
                <li><a href="#">购物</a></li>
                <li><a href="#">交通</a></li>
                <li><a href="#">外卖</a></li>
                <li><a href="#">商城</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="header-content clearfix">
      <div class="header-title-module">
        <div class="header-title">
          <a href="https://www.baidu.com">
            <img src="../static/images/CGD.jpg" id="CGDIMG" width="40px" height="40px">
          </a>
        </div>
      </div>
      <div class="header-search-module">
        <div class="header-search-block">
          <input class='header-search-input' type="text" placeholder="搜索当地">
          <button class="header-search-btn">
            <span class="header-icon icon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </header>
  <!--主体-->
  <div id="react">
    <div class="index-container">
      <div class="infos_life"><h2>生活服务</h2></div>
      <div class="info_med"><h2>医疗健康</h2></div>
    </div>
  </div>
  <!--尾部-->
  <footer class="com-footer"></footer>
</body>
</html>